{% extends "layout/basic.html" %}
{% block title %}
Бортовой журнал - {{ user.username }}
{% endblock %}

{% block content %}
<!--
	https://getbootstrap.com/docs/4.6
https://bootstrap-4.ru/docs/5.0/components/card/#background-and-color
-->	
<div class="container-fluid">

  <div>
	<div>{{userservis.nameuser}}</div>  
  </div>
  <div>
  	{% for car in cars %}
    <span>{{car.name_car}}</span>
    <span>{{car.reg_number}}</span>
    <span>{{car.marka_car}}</span>
    <span>{{car.model_car}}</span>
    {% endfor%} 
  </div>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Номер</th>
        <th>Дата</th>
        <th width=50%>Описание</th>
        <th>Спидометр</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      {% for row in journal %}  
      <tr>
        <td>{{row.id}}</td>
        <td>{{row.date}}</td>
        <td>{{row.get_type_event_display}}</td>
        <td>{{row.speedometer}}</td> 
        <td><button type="button" class="btn btn-outline-dark">...</button></td>         
      </tr>
      {% for drow in details %}
      {% if row.id == drow.event_id %}
      <tr>
        <td></td>
        <td></td>
        <td>{{drow.datail_id}} {{drow.datail}}</td>
        <td></td> 
        <td></td>         
      </tr>
      {% endif %}
      {% empty %}      
      <tr>
        <td></td>
        <td></td>
        <td>работы не проводились и замены деталей не производились</td>
        <td></td> 
        <td></td>         
      </tr>
      {% endfor %} 
      {% endfor %}
    </tbody>
  </table>
</div>  
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>Деталь/работа</th>
        <th>Ресурс</th>
        <th>дата начала эксплуатации</th>
        <th>пробег на начала эксплуатации</th>
        <th>планируемая дата замены</th>
        <th width=20%></th>

      </tr>
    </thead>
    <tbody>
      {% for item in spr %}
      <tr>
        <td>{{item.detail}}</td>
        <td>{{item.resource}}</td>
        <td>{{item.last_date}}</td>
        <td>{{item.sm_work}}</td>
        <td>{{item.planned_date}}</td> 
        <td>{{item.comment}}</td>         
      </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}

