
<!DOCTYPE html>
<html>
<head>
	<meta http-eqip="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}Бортовой журнал {% endblock %}</title>
	{% load bootstrap4 %}
	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}
</head>
<body class="container-fluid">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <ul class="navbar-nav">

        <li class="nav-item dropdown">
        	<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        		Автомобили
        	</a>
        	<div class="dropdown-menu">
        		<a class="dropdown-item" href="">Добавить автомобиль</a>
                {% if cars %}
        		<hr class="dropdown-divider">
        		{% endif %}
        		{% for car in cars %}
        	    <a class="dropdown-item" href="">
        	        {{car.name_car}} / {{car.marka_car}} / {{car.model_car}} / {{car.reg_number}}
        	    </a>
        	    {% endfor%}
            </div>
        </li>
       <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Произведенные ремонты</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="">Произведенные ремонты</a>
                <a class="dropdown-item" href="">Контроль ресерса деталей</a>

            </div>
        </li> 
        <li class="nav-item dropdown navbar-right">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">{{userservis.nameuser}}({{user.email}})</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="">Редактировать профиль</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="">Марки автомобилей</a>
                <a class="dropdown-item" href="">Моделей автомобилей</a>
                <a class="dropdown-item" href="">Детали/регламентные работы</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="">Выйти</a>
            </div>
        </li>  

    </ul>
</nav>
{% block content %}
{% endblock %}
</body>
</html>








